<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <h1>Error: you are already logged in.</h1>
        <form action="/settings">
            <input type="submit" value="Go to Settings" class="login-btn"/>
        </form>
    </body>
</html>