<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <h1>Register</h1>
        <p>Username must be > 3 characters</p>
        <form method="post" action="/register">
            <p>Email</p>
            <input type="text" name="email" id="email">
            <p>Username</p>
            <input type="text" name="username" id="username">
            <p>Password</p>
            <input type="password" name="password" id="password">
            <input type="submit" value="Register">
        </form>

        <form action="/login">
            <input type="submit" value="Go to Login" class="login-btn"/>
        </form>
    </body>
</html>