<!DOCTYPE html>
<html>
    <head>
        <title>Send wishlist to Santa!</title>
        <link rel="stylesheet" href="style.css">
    </head>
    
    <body>
        <div class="text-box">
        <h1>Here's a form to send your wishlist to Santa Claus.</h1>
        <form method="post" action="/sendwishlist">
            <p>But first, we'll need your parent's email for permission. Then we'll send it to Santa!</p>
            <input type="text" name="parentemail">
            <input type="submit" value="Submit form to Santa" class="login-btn">
        </form>
    <p>
        <form action="/app">
            <input type="submit" value="Home" class="login-btn"/>
        </form>
    </p>
    </div>
    </body>
</html>