<!DOCTYPE html>
<html>
    <head>
        <title>Send wishlist to Santa!</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    
    <body>
        <h1>Here's a form to send your wishlist to Santa Claus.</h1>
        <form method="post" action="/sendwishlist">
            <p>But first, we'll need your parent's email for permission. Then we'll send it to Santa!</p>
            <input type="text" name="parentemail">
            <input type="submit" value="Submit form to Santa">
        </form>

        <form action="/">
            <input type="submit" value="Home"/>
        </form>
    </body>
</html>