<!DOCTYPE html>
<html>
    <head>
        <title>Settings</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div class="text-box">
        <h1>Hello There!</h1>

        <h2>Your username is:</h2>
        <%- user -%>
    
<p>

</p>
        <form action = "/wishlist">
            <input type="submit" value="Make a wish" class="login-btn">
        </form>

        <form action = "/sendwishlistform">
            <input type="submit" value="Send wishlist to Santa" class="login-btn">
        </form>

        <form action = "/view_all_logs">
            <input type="submit" value="View logs" class="login-btn">
        </form>

        <form action="/delete">
            <input type="submit" value="Delete account" class="login-btn"/>
        </form>

        <form action="/logout">
            <input type="submit" value="Log out" class="login-btn"/>
        </form>
    </div>
    </body>
</html>
