<!DOCTYPE html>
<html>
    <head>
        <title>Settings</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div class="text-box">
        <h1>Hello There!</h1>

        <h2>Your username is:</h2>
        <%- user -%>
    
        <h2>Your email is:</h2>
        <%- email -%>

        <form action="/delete">
            <input type="submit" value="Delete account"/>
        </form>

        <form action="/logout">
            <input type="submit" value="Log out"/>
        </form>


        <form action="/view_all_logs">
            <input type="submit" value="View all logs"/>
        </form>
    </div>
    </body>
</html>