<!DOCTYPE html>
<html>
    <head>
        <title>Stale login</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="text-box">
    <h1>Stale login or login attempt failed. Username or password is wrong.</h1>

    <form action="/login">
        <input type="submit" value="Go to Login" class="login-btn"/>
    </form>

        </div>
    </body>
</html>