<!DOCTYPE html>
<html>
    <head>
        <title>Stale login</title>
        <link rel="stylesheet" href="styles.css">
    </head>

    <h1>Stale login or login attempt failed.</h1>

    <form action="/login">
        <input type="submit" value="Go to Login" class="login-btn"/>
    </form>

    <body>
    </body>
</html>