<!DOCTYPE html>
<html>
    <head>
        <title>Unsuccessful register</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <h1>Either username is taken, or username is less than 4 characters.</h1>

    <form action="/login">
        <input type="submit" value="Go back to login" class="login-btn"/>
    </form>

    <body>
    </body>
</html>