<!DOCTYPE html>
<html>
    <head>
        <title>Add item</title>
        <link rel="stylesheet" href="style.css">
    </head>
<body>
    <div class="text-box">
    <h1>Add Item To Wishlist</h1>
    <form method="post" action="/additem">
        <p>Item name</p>
        <input type="text" name="itemname">
        <input type="submit" value="Deliver to North Pole" class="login-btn">
    </form>
<p>
    <form action="/">
        <input type="submit" value="Home" class="login-btn"/>
    </form>
</p>
<p>
    <form method="get" action="/clearwishlist">
        <input type="submit" value="Clear wishlist" class="login-btn"/>
    </form>
</p>

    <h2>Items:</h2>
      <% data.forEach(function(dat) { %>
          <p><%= dat %></p>
      <% }); %>
    </div>
    </body>
</html>